<div class="d-flex justify-content-center m-2 p-2">
    <H1> <b style="color: purple;">XYZ Sweet Shop</b></H1>

</div>



<div class="d-flex justify-content-center m-2 p-2">
<p>Our sweet shop sells 100’s of different types of sweets, we stock everything from retro & American candy to pick ‘n’ mix
sweets. We offer a selection of dietary specific sweets, suitable for vegans and people with allergens. We have a great
selection of gift hampers, sweet jars & other sweet gifts ideal for any occasion or any person with a sweet tooth!
</p>
</div>

<!-- https://postedsweets.co.uk/sweet-shop/ -->

<div class="d-flex justify-content-center">
    <img 
    ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Colorful_and_Inviting_Candy_Store_%2814867133277%29.jpg/1280px-Colorful_and_Inviting_Candy_Store_%2814867133277%29.jpg"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Colorful_and_Inviting_Candy_Store_%2814867133277%29.jpg/1280px-Colorful_and_Inviting_Candy_Store_%2814867133277%29.jpg">
    </div>
    

<div class="d-flex justify-content-center m-2 p-2">
<p>Not only do we offer sweets, but we also keep a large stock of different - obviously bio - 
syrups and a large variety of teas and coffees.  If you are looking for <i>anything </i> that is sweet,
you are bound to find it in here!
</p>

</div>