<div class="bg">
<div class="col-md-12 mt-2">
  <nav class="navbar navbar-light navbar-expand-lg">
    <div class="navbar col-md-12" id="navbarNav">
      <ul class="navbar-nav">
        <a class="navbar-brand" routerLink="/" style="color: purple;"> XYZ Sweets Shop</a>
        <li class="nav-item">
          <a *ngIf="loggedIn" class="nav-link" routerLink="/sweets-listing">Listing</a>
        </li>
        <li class="navbar-nav">
          <a *ngIf="loggedIn" class="nav-link" routerLink="/sweets-form">Order a new sweet!</a>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-right align-items-center">
        <li>
          <h5>Welcome {{user.name}}! </h5>
        </li>
        <li>
          <button *ngIf="!loggedIn" class="btn btn-dark m-2" routerLink="/login"> Login</button>
          <button *ngIf="loggedIn" class="btn btn-dark m-2" (click)="logOut()">Logout</button>
        </li>
      </ul>

    </div>
  </nav>
</div>



<div class="container-fluid m-2">
  <div class="content">
  <router-outlet ></router-outlet>

  <app-login *ngIf="!loggedIn" (userChanged)="userChangedHandler($event)"></app-login></div>
</div>

</div>